%parrafo-centrado-h {
    font-size: 4rem; 
    padding-bottom: 40px;
    font-weight: bold;
    font-family: roboto;
}
%parrafo-centrado-p {
    font-size: 25px; 
    font-weight: 100;
    font-family: roboto;
}