/* LA DEGUSTACION HTML */


.img-txt-ld{
      /*position: absolute; se ve la imagen pero el footer se coloca por encima*/ 
      width: 100%;
      height: auto;
      background-image: url(../images/degustaciona25opacity.png);
      background-size: cover;
      display: flex;
      justify-content: center;
      
    
      h2 {
        color: black;
        font-size: 55px;
        font-family: 'Times New Roman';
        font-weight: bold;
        position: absolute;
       /*position: relative; con posicion relative en H y P el H ocupa todo el ancho de la pantalla y baja el P */
        padding: 6rem 0rem 0rem 14rem;
        }

    p {
        color: black;
        font-size: 21px;
       /*position: absolute;*/
        position: relative;
        padding: 6rem 14rem 0rem 54rem;
        text-align: center;
        line-height: 30px;
        font-weight: normal;
    }
}

/*estilos seccion 2 tres imagenes*/

.margen0-deg{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

.mi-vp-deg {
    width: 70%;
  }

.mi-estilo-hdeg {
    margin-top: 100px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    font-family: sans-serif;
  }

  .mi-estilo-pdeg {
    line-height: 30px;
    padding: 25px 0px 0px 0px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
  }

  .mi-estilo-pdeg1 {
    margin: 0px 0px 0px 120px;
  }

  .mi-estilo-pdeg2 {
    margin: 0px 50px 20px 50px;
  }

  .mi-estilo-pdeg3 {
    margin: 0px 120px 0px 0px;
  }

  mi-f-padd-deg {
    padding-top: 10px;
    padding-right: 50px;
  }

  /* efecto sombra*/
.mi-shadow-deg {
    box-shadow: 10px 50px rgba(8, 17, 8, 0.822);
    padding-bottom: 20px;
    padding-right: 15px;
  }


 /*agrego estilos para LD en la media query*/
 @media (max-width: 800px) {
   
    .img-txt-ld{
          
        h2 {
            color: black;
            font-size: 35px;
            font-family: 'Times New Roman';
            font-weight: bold;
            /*position: absolute; sin posicionamiento en H y P son responsivos*/
            padding: 20px 0rem 0rem 3rem;
          
            }
    
        p {
            color: black;
            font-size: 18px;
           /* position: absolute;*/
            padding: 70px 20px 0px 20px;
            text-align: center;
            line-height: 25px;
        }
    }

    .mi-mar-ult {
        margin: 0px 0px 100px 0px;
      }
}