   /* la experiencia html */

   .tcontorno {
   /* width: 700px;
    height: 500px;*/
    width: 60%;
    height: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border: 7px solid white;
   /* display: flex;
    flex-direction: column;*/
    text-align: center;
    padding: 80px;
    /*position:  absolute;*/
    top: 100px;
    left: 400px;
    
    h2{ 
            color: white;
            font-size: 3rem;
            font-weight: bold;
        }
    p {
            color: white;
            font-size: 28px;
            line-height: 36px;
        }
}      
.img-txtle {
    /* Contenedor definiendo en el Div una clase */
      position: relative;
      width: 100%;
      height: auto;
      background-image: url(../images/degustaciona25.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      /*padding-right: 0px; no soluciona el scroll a la derecha*/
  }

  .mi-estilo-hexp {
    margin-top: 100px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    font-family: sans-serif;
  
  }

  .mi-estilo-pexp {
    line-height: 30px;
    padding: 25px 100px 0px 0px;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: left;
  
  }

  mi-f-padd-exp {
    padding-top: 10px;
    padding-right: 50px;
  }

  /* efecto sombra*/
.mi-shadow-exp {
   
    box-shadow: 20px 20px rgba(22, 22, 22, 0.952);
    padding-bottom: 15px;
    padding-right: 15px;
  }

.img-txtle-duque {
   
      position: relative;
      /*width: 200px;*/
      height: 700px;
      background-image: url(../images/duque.jpg);
      background-size: cover;
      margin-left: 100px;
      margin-top: 50px;
     
      
  }

  .mi-estilo-hduque {
    margin-top: 200px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    font-family: sans-serif;
  }

  .mi-estilo-pduque {
    line-height: 30px;
    padding: 25px 100px 0px 0px;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: left;
  }

  @media (max-width: 800px) {
    
    .tcontorno {
        
         width: 80%;
         /*height: auto; no cambia nada si lo saco*/
         margin-top: 20px;
         margin-bottom: 20px;
         border: 5px solid white;
         text-align: center;
         padding: 10px;
         
         top: 20px;
         left: 20px;
         font-family: 'Times New Roman', Times, serif;
         
         h2{ 
                 font-size: 30px;
                 font-family: roboto;
             }
         p {
                 
                 font-size: 20px;
                 line-height: 30px;
                 font-weight: bold;
                 font-family: roboto;
             }
        }
        .mi-estilo-hexp {
            margin-top: 50px;
            font-weight: 400;
            font-size: 1.5rem;
            font-family: sans-serif;
            padding-left: 20px;
        }

        .mi-estilo-pexp {
            line-height: 20px;
            padding: 25px 30px 10px 20px;
            font-size: 15px;
            font-family: sans-serif;
            justify-content: left;
          
          }
        
          .mi-vp-exp {
            width: 80%;
          }

          mi-f-padd-exp {
           
            padding: 20px 30px 10px 10px;
          }
        
          /* efecto sombra*/
        .mi-shadow-exp {
            box-shadow: 20px 20px rgba(22, 22, 22, 0.952);
        }
        
        .img-txtle-duque {
            position: relative;
            /*width: 200px;*/
            height: 400px;
            background-image: url(../images/duque.jpg);
            background-size: cover;
            margin: 20px 10px 20px;
            
        }
      
        .mi-estilo-hduque {
          margin-top: 20px;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.1;
          font-family: sans-serif;
          padding-left: 20px;
        }
      
        .mi-estilo-pduque {
          line-height: 20px;
          padding: 10px 20px 20px 20px;
          font-size: 15px;
          font-family: sans-serif;
         
        }
      
    } 
    
    
